<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BKC Proposal</title>
        <style>

            html, body {
                height: 100%;
                background-color: #ffb5d9;
                overflow: hidden;
            }   

            .iframe-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 98vh; 
    }

        </style>
    </head>
    <body>
        <div class="iframe-container">
        <iframe style="height:94%; width:50%; border-radius:15px; background-color: white;" src="https://docs.google.com/document/d/e/2PACX-1vR3KGasiX6xKWJI-5yKIlYTRbUjIswEoW9vKUDjqGubtsK3cIa6z7MhF3w_7t9VrQQ-nDMnibsiOj44/pub?embedded=true"></iframe>
        </div>
    </body>
</html>
